{% load static %}
{% load menu_tags %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Тестовый сайт Django{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>События</h1>
        <ul class="sidebar-menu">
            {% draw_menu 'secondary_menu' %}
        </ul>
        <div class="content">
            {% block content %}События...{% endblock %}
        </div>
    </body>
</html>