{% load static %}
{% load menu_tags %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Тестовый сайт Django{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Телефоны</h1>
        <ul class="menu">
            {% draw_menu 'main_menu' %}
        </ul>
        <div class="content">
            {% block content %}Телефоны разных отделов разных городов.{% endblock %}
        </div>
    </body>
</html>